body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.the-man {
    display: flex;

}

.head {
    width: 50%;
    padding: 5%;
    margin-top: 5%;

}

.head2 {
    margin-top: 5%;
    font-size: larger;
    text-align: justify;


}



.head img {
    width: 110%;


}

#intro {
    font-size: 50px;
    font-weight: bolder;
}

.skip {
    color: coral;
}

.btn {
    background-color: coral;
    text-decoration: none;
    padding: 18px 38px;
    border-radius: 25px;
    color: aliceblue;
}

#d-txt {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    color: gray;
}

.about {
    width: 50%;

}

.woman {
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.about img {
    width: 50%;
    position: relative;
    left: 200px;
    top: 105px;

}

.ab-txt {
    text-align: left;
    padding: 6% 6%;
}

#me {
    color: gray;
    font-size: 50px;

}

#you {
    font-size: 20px;
    padding-bottom: 60px;
}

#recipies {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding-top: 50px;
    color: darkgrey;
}

#descip {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 20px;
    font-weight: 500;
    color: grey;
}

.recipies {
    display: flex;
    margin: 20px 5%;



}

.box {
    box-shadow: 10px 10px 20px gray;
    border-radius: 20px;
    margin: 5%;
    padding: 20px;





}

.box img {
    width: 100%;
}

#my {
    font-size: 30px;
    font-weight: bolder;
}

.foot {
    display: flex;
    box-shadow: 10px 10px 20px gray;
    padding: 25px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 20px;

}

.youtube {
    width: 33%;
    padding-bottom: 10px;
    font-size: 15px;

}

.bold {
    font-size: 40px;
    text-align: center;
}

footer {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;


}